* {
  box-sizing: border-box;
}

body {
 
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/*
.flexContainer{
  display: flex;
  flex-direction: row;
  background-color: blue;
}
*/
.container{
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 100px 200px;
  grid-template-areas: 
  "header"
  "banner";
  
}  

.page-wrapper{
  display: grid;
  background-color: crimson;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  grid-template-areas: 
  "about-me "
  "work"
  "contact";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.header
{
  grid-area: header;
}

.hero-banner{
  grid-area: banner;
  background-color: aquamarine;
}

.page-wrapper{
  grid-area: wraper;
}

#about{
  grid-area: about-me;
}

#work{
  grid-area: work;
}

#contact{
  grid-area: contact;
}
