* {
  box-sizing: border-box;
}

body {
 
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/*
.flexContainer{
  display: flex;
  flex-direction: row;
  background-color: blue;
}
*/
.container{
 
  
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 100px 200px;
  grid-template-areas: 
  "header"
  "banner";
  
}  

.page-wrapper{
  display: grid;
  background-color: rgb(255, 255, 255);
  grid-template-columns: 25% 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas: 
  "about-me myself myself"
  "work my_work my_work"
  "contact my_contact my_contact";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #8a481d;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  
}
a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 25px;
}

.hero-banner{
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  background-image: url(../images/02-hero-bg.jpg);
}

#about{
  grid-area: about-me;
}

#work{
  grid-area: work;
}

#contact{
  grid-area: contact;
}
#about, #work, #contact{
  display: flex;
  justify-content: right;
  margin-right: 20px;
  padding-right: 20px;  
  border-right-width: 10px;
  border-right-color: black;

}
.about-myself{
  grid-area: myself;
}

.my-work{
  grid-area: my_work;
}

.my-contact{
  grid-area: my_contact;
}

